/* body {
  text-align: center;
  font-family: sans-serif;
  font-size: 0.8rem;
  height: 100vh;
  background: linear-gradient(to top left, #A8DBFA,#D3F5CF,#635EE2);
} */

li{
  padding: 10px !important ;
}

